# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

#This is all dist folders
# dist

#this is ALL ROOT dist folders  (WRITTEN WITHOUT SPACE) ignores only the repository root dist
/dist

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

github-old/

!.github/**/dist/

#re include all contents (this is another way)
# !.github/**/dist/**